<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;
background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">
    <div class="row">
        <center><strong><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display#</a></strong>
        <center><strong>
            <span style="font-size : 0.9em;margin-left:18px;" class="pull-left">#lastrefresh#</span>
            <span class="statusCmd" style="position : absolute;right : 5px; width : 30px;z-index: 1030;"></span>
            <i class='fa fa-refresh pull-right cursor refresh' style="margin-top: 3px;margin-right: 18px;"></i>
        </strong>
        </center>
        <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
    </div>
    <div class="row">
        <div class="col-md-4 flower_temperature#id#">
            <div style="text-align: center;"><i class="jeedom-thermo-moyen"></i></div>
        </div>
        <div class="col-md-8 flower_temperature#id#">
      <span class="history cursor cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric"
            data-cmd_id="#temperature_id#">#temperature# °C</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 flower_moisture#id#">
            <div style="text-align: center;"><i class="fa fa-tint"></i></div>
        </div>
        <div class="col-md-8 flower_moisture#id#">
            <span class="history cursor cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric"
                  data-cmd_id="#moisture_id#">#moisture# %</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 flower_lux#id#">
            <div style="text-align: center;"><i class="fa fa-sun-o"></i></div>
        </div>
        <div class="col-md-8 flower_lux#id#">
            <span class="history cursor cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric"
                  data-cmd_id="#lux_id#">#lux# lux</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 flower_fertility#id#">
            <div style="text-align: center;"><i class="fa fa-flask"></i></div>
        </div>
        <div class="col-md-8 flower_fertility#id#">
            <span class="history cursor cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric"
                  data-cmd_id="#fertility_id#">#fertility# uS/cm</span>
        </div>
    </div>
    <script>
        $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
            jeedom.cmd.execute({id: '#refresh_id#'});
        });
    </script>
</div>
<style>
    div.flower_temperature#id# {
        color: white;
        font-weight: bold;
        font-size: 1.2em;
    }

    div.flower_moisture#id# {
        color: white;
        font-weight: bold;
        font-size: 1.2em;
    }

    div.flower_lux#id# {
        color: white;
        font-weight: bold;
        font-size: 1.2em;
    }

    div.flower_fertility#id# {
        color: white;
        font-weight: bold;
        font-size: 1.2em;
    }
</style>
