<div class="eqLogic eqLogic-widget allowResize allowLayout jeedomAlreadyPosition" data-eqType="#eqType#" data-category="#category#" data-tags="#data-tags#" style="min-width:120px; border:#border#; border-radius:#border-radius#;background-color:#background-color#; color:#color#; width:#width#; height:#height#; #style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
    <div class="row" style="margin-right:0!important;margin-left:0!important;font-weight: bold;text-align: center;">
        <a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display#</a>
    </div>
    <div class="row" style="margin-right:10px !important;margin-left:10px !important;font-weight: bold;">
            <span class="statusCmd"></span>
            <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>   
            <i class='fa fa-refresh pull-right cursor refresh'></i> 
            <span style="font-size : 0.9em;">#lastrefresh#</span>
    </div>

    <div class="row flower_style#id#">
        <div class="col-md-4">
            <div style="text-align: center;"><i class="jeedom-thermo-moyen"></i></div>
        </div>
        <div class="col-md-8">
            <span class="history cursor cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric"
                data-cmd_id="#temperature_id#">#temperature# °C</span>
        </div>
    </div>
    <div class="row flower_style#id#">
        <div class="col-md-4">
            <div style="text-align: center;"><i class="fa fa-tint"></i></div>
        </div>
        <div class="col-md-8">
            <span class="history cursor cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric"
                  data-cmd_id="#moisture_id#">#moisture# %</span>
        </div>
    </div>
    <div class="row flower_style#id#">
        <div class="col-md-4">
            <div style="text-align: center;"><i class="fa fa-sun-o"></i></div>
        </div>
        <div class="col-md-8">
            <span class="history cursor cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric"
                  data-cmd_id="#lux_id#">#lux# lux</span>
        </div>
    </div>
    <div class="row flower_style#id#">
        <div class="col-md-4">
            <div style="text-align: center;"><i class="fa fa-flask"></i></div>
        </div>
        <div class="col-md-8">
            <span class="history cursor cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric"
                  data-cmd_id="#fertility_id#">#fertility# uS/cm</span>
        </div>
    </div>
    <div class="row flower_style#id#" id="wateringDisplayHide#id#">
        <div class="col-md-4">
            <div style="text-align: center;"><i class="fas fa-fill"></i></div>
        </div>
        <div class="col-md-8">
            <span class="history cursor cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric"
                  data-cmd_id="#flower_waterTankLevel_id#">#waterTankLevel# %</span>
        </div>
    </div>
    
    <script>
        $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
            jeedom.cmd.execute({id: '#refresh_id#'});
        });
        function hideTankLevelJS#id#(waterTankLevel) {
            if (typeof waterTankLevel == 'undefined') {
                 wateringDisplayHide#id#.style.display = 'none'; 
             } 
        }   
        jeedom.cmd.update['#waterTankLevel_id#']=function(_options){
            hideTankLevelJS#id#(#waterTankLevel#);
        };
     
        hideTankLevelJS#id#(#waterTankLevel#);
    </script>
</div>
<style>
    div.flower_style#id# {
        color: white;
        font-weight: bold;
        font-size: 1.1em;
    }
</style>
