<div class="eqLogic-widget eqLogic" style="width: 240px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#; padding : 0px;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="mobile">
  <div style="text-align: center;">
    #name_display#<br/>
    <i class="jeedom-thermo-moyen"></i> #temperature# °C<br/>
    <i class="fa fa-tint"></i> #moisture# %><br/>
    <i class="fa fa-sun-o"></i> #lux# <br/>
    <i class="fa fa-flask"></i> #fertility# uS/cm
  </div>
</div>